@CHARSET "UTF-8";
*{
margin:0;
padding:0;
}
body{
    -moz-text-size-adjust: none;
    background: rgba(0, 0, 0, 0) url("../img/yueyang_bak.jpg") no-repeat scroll center top;
    color: #333;
    font-family:Microsoft YaHei,Simsun,SimHei,Arial;
    font-size: 12px;
    margin: 0;
    padding: 0;
}
.above a{
color:#7d7d7d;
}
.above a:hover{
	text-decoration:none;
	color: #e85513;
}
a{
    color: #333;
    cursor: pointer;
    text-decoration: none;
}
a:hover{
    color: #e74800;
    text-decoration: none;
    transition: all 0.2s ease 0s;
}

img{
border:0 none;
list-style:outside none none;
vertical-align:middle;
}
.above{
/**background:rgba(0, 0, 0, 0) url("../img/top_bgx.png") repeat-x scroll 0 0;**/
box-shadow:0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
color:#7d7d7d;
height:40px;
line-height:40px;
}
.head{
height:238px;
overflow:hidden;
position:relative;
}
.log{
	padding-top:10px;
}
.g-w{
clear:both;
margin:0 auto;
overflow:hidden;
width:1100px;
}
.fl{
float:left;
}
.fr{
float:right;
}
.web-icon{
color:#e85513;
font-size:12px;
}
.web-icon a{
color:#e85513;
padding:0 5px;
}
.web-icon a:hover {
    opacity: 0.7;
    text-decoration:none;
}
.logo_new{margin-top:50px; float:left;}
.robot{
	float:right;
	margin-right:70px;
	margin-top:50px;
}
.nav{
	background:#e74800 none repeat scroll 0 0;
	height:45px;
	line-height:45px;
}
.nav ul{
	height:45px;
	overflow:hidden;
	padding-left:30px;
	width:710px;
}
.nav li {
    background: rgba(0, 0, 0, 0) url("../img/nav_line.png") no-repeat scroll right center;
    float: left;
    list-style: outside none none;
    padding: 0 8px;
    width: 62px;
}
.nav li.nobg {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.nav li a {
    color: #fff;
    display: block;
    font-size: 18px;
    text-align: center;
}
.nav li a.on, .nav li a:hover {
    border-bottom: 3px solid #ffac50;
    height: 42px;
    text-decoration: none;
}
.nav .weather {
    color: #fff;
    height: 45px;
    overflow: hidden;
    padding: 0 10px;
    width: 240px;
}
.clearfix{
	display:block;
}
.clearfix::after{
	clear£ºboth;
	content:" ";
	display:block;
	font-size:0;
	height:0;
	visibility:hidden;
}
.mt {
    margin-top: 20px;
}
/*#footbox {
    background: rgba(0, 0, 0, 0) url("img/footbg2.jpg") repeat-x scroll center top;
    height: 145px;
    margin: 0 auto;
    width: 1000px;
}
.fs, .fs a:link, .fs a:visited {
    color: #333;
}*/